<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="Noah Goldman's blog and profile" name="description" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/css/syntax.css" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Noah Goldman - Feed" href="http://feeds.feedburner.com/noahgoldman" />
    <title>Noah Goldman &mdash; {{ page.title }}</title>
	{% include ga.html %}
  </head>
  <body>
    <header>
      <h1 id="title">
	    <a href="/">Noah Goldman</a>
		<span class="titlelink">
        	<a href="/about.html" title="About">About</a>
			<a href="https://github.com/noahgoldman" title="Github">Github</a>
			<a href="http://www.facebook.com/noahrgoldman" title="Facebook">Facebook</a>
			<a href="mailto:noahg34@gmail.com" title="Email">Email</a>
		</span>

      </h1>
    </header>
    <div id="wrapper">
      {{ content }}
      <footer id="footer">
        	<a href="/about.html" title="About">About</a>
			<a href="https://github.com/noahgoldman" title="Github">Github</a>
			<a href="http://www.facebook.com/noahrgoldman" title="Facebook">Facebook</a>
			<a href="mailto:noahg34@gmail.com" title="Email">Email</a>
      </footer>
    </div>
  </body>
</html>
